* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'cairo';
    box-sizing: border-box;
    font-size: 16px;
}

.topbar {
    width: 100%;

}

.bar1 {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-image: url("/img/Merged-bar-51.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D0E5F0;

    &__logo {
        max-width: 4.9%;
        margin: 0.5% auto auto 2%;

    }

}


ul {
    width: 10%;
    height: auto;
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: baseline;
    font-size: 1.3vw;
    margin-right: 20%;
    margin-top: 1.5%;





    & li {
        margin-right: 35%;
        align-items: center;


        & a {
            text-decoration: none;
            color: black;
            font-weight: 600;

            & .imgMenu {
                width: 7vw;
                height: auto;
                padding-left: 20%;
            }

        }

        & a:active {
            color: #1A519E;
        }

    }
}


.bar2 {
    width: 100%;
    margin-top: 5.9%;
    background: #F4CF1B;
    font-size: 1.2vw;

    &__txtbar {
        margin: 0 auto;
        text-align: center;
        color: #1078AD;

        & h4 {
            color: black;
        }
    }
}